/* line 15, ../sass/stars.scss */
html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}

/* line 21, ../sass/stars.scss */
#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: #{$value} , #{random(2000)}px #{random(2000)}px #FFF;
  animation: trajectory 50s linear infinite;
}
/* line 28, ../sass/stars.scss */
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: #{$value} , #{random(2000)}px #{random(2000)}px #FFF;
}

@keyframes trajectory {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
