@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,700');

body {
  background: url('http://www.sterne-und-weltraum.de/fm/912/thumbnails/apophis-closeapp.jpg.2945545.jpg');
  font-family: 'Space Mono', monospace;
}

#neos {
  font-size: 15px;
}

.title {
  margin: 0px auto;
  color: white;
  font-weight: 700;
  text-align: center;
}

.asteroidList {
  list-style-type: none;
  margin: 10px auto;
  text-align: center;
}

.otherDays {
  margin: 0px auto;
  color: white;
  font-size: 15px;
  text-align: center;
}

.otherDays a:link{
  color: white;
  text-decoration-line: none;
}

a {
  color: red;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  padding: 5px;
  width: 250px;
  margin: 5px;
  border: solid 5px;
  border-color: blue;
  border-radius: 100px;
  background-color: white;
  display: inline-block;
}

