@import "compass";
@function multiple-box-shadow($n) {
  $value: "#{random(2000)}px #{random(2000)}px #FFF";
  @for $i from 2 through $n {
    $value: "#{$value} , #{random(2000)}px #{random(4000)}px #FFF";
  }
  @return unquote($value);
}

$shadows-small: multiple-box-shadow(2000);
html {
  background: radial-gradient(ellipse at center, #1b2735 0%, #090a0f 100%);
  height: 100%;
  overflow: hidden;
}

.stars {
  animation: starTrajectory 10s linear infinite;
  background: transparent;
  box-shadow: $shadows-small;
  height: 1px;
  width: 1px;
  ::after {
    background: transparent;
    box-shadow: $shadows-small;
    content: "";
    height: 1px;
    position: absolute;
    top: 2000px;
    width: 1px;
  }
}

@keyframes starTrajectory {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-2000px);
  }
}
